pkgbase = linux-drm-next-git
	pkgdesc = Linux kernel with bleeding-edge GPU drivers
	pkgver = 6.14.r1335458.2014c95afece
	pkgrel = 1
	url = https://gitlab.freedesktop.org/drm/kernel
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = linux-drm-next-git::git+https://gitlab.freedesktop.org/drm/kernel.git#branch=drm-next
	source = config
	sha256sums = SKIP
	sha256sums = c6c12ee73e386142074ce76cc5409552815a7d9812a1d4bbd2d686fc9e785539
	b2sums = SKIP
	b2sums = 4a84bec5984fc79cb89b660e735dda88b83a41b8f45939e283999d52e823f9a83e3c182a40e091abb12a6ff4cbacd2672418ba27212eceecdddb501cfb191ee3

pkgname = linux-drm-next-git
	pkgdesc = The Linux kernel with bleeding-edge GPU drivers kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-drm-next-headers-git
	pkgdesc = Headers and scripts for building modules for the Linux kernel with bleeding-edge GPU drivers kernel
	depends = pahole
