pkgbase = linux-drm-next-git
	pkgdesc = Linux kernel with bleeding-edge GPU drivers
	pkgver = 6.15.r1354200.7c1a9408ce5f
	pkgrel = 1
	url = https://gitlab.freedesktop.org/drm/kernel
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = linux-drm-next-git::git+https://gitlab.freedesktop.org/drm/kernel.git#branch=drm-next
	source = config
	sha256sums = SKIP
	sha256sums = 878b2ee916ba6c1b3a1f1f9d9d368d9a2391bb58f71b7e52371cbb436ed2eac4
	b2sums = SKIP
	b2sums = 66f7f19fdbdc8d60e99ff3c9a242b61ccd697dd886a16e9fd43d7ea4b61b2afd6d4cbf7749b239b96181d8606bbd7b99b50179dc01b0cc346b7e7018e409b073

pkgname = linux-drm-next-git
	pkgdesc = The Linux kernel with bleeding-edge GPU drivers kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-drm-next-headers-git
	pkgdesc = Headers and scripts for building modules for the Linux kernel with bleeding-edge GPU drivers kernel
	depends = pahole
