pkgbase = linux-drm-next-git
	pkgdesc = Linux kernel with bleeding-edge GPU drivers
	pkgver = 6.14.r1335953.0ed1356af8f6
	pkgrel = 1
	url = https://gitlab.freedesktop.org/drm/kernel
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = linux-drm-next-git::git+https://gitlab.freedesktop.org/drm/kernel.git#branch=drm-next
	source = config
	sha256sums = SKIP
	sha256sums = a8c319f6f81d42d21c708fa2b4b016b0318908b63c31e21e679507f879d2606c
	b2sums = SKIP
	b2sums = 77741908fa7afe101091919c8d477f1c4c161082f115849e352a99a080fe3d599e9d8af78d8c210f81176f34a331aa639883723e230c3bf29621f0cf36fa962d

pkgname = linux-drm-next-git
	pkgdesc = The Linux kernel with bleeding-edge GPU drivers kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-drm-next-headers-git
	pkgdesc = Headers and scripts for building modules for the Linux kernel with bleeding-edge GPU drivers kernel
	depends = pahole
